In [162]:
#Librerias
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, f1_score, accuracy_score, precision_score, recall_score
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.metrics import classification_report
import re
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
import pickle

In [148]:
#Visualizar el dataset
data=pd.read_csv("mora_cdto.csv")
data.head(20)

,ID,CU,G,ED,EC,E,M1,M2,M3,M4,...,D4,D5,D6,P1,P2,P3,P4,P5,P6,SP
0,1,2000,F,2,Casado,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,68.9,0.0,0.0,0.0,0.0,Si
1,2,12000,F,2,Soltero,26,-1,2,0,0,...,327.2,345.5,326.1,0.0,100.0,100.0,100.0,0.0,200.0,Si
2,3,9000,F,2,Soltero,34,0,0,0,0,...,1433.1,1494.8,1554.9,151.8,150.0,100.0,100.0,100.0,500.0,No
3,4,5000,F,2,Casado,37,0,0,0,0,...,2831.4,2895.9,2954.7,200.0,201.9,120.0,110.0,106.9,100.0,No
4,5,5000,M,2,Casado,57,-1,0,-1,0,...,2094.0,1914.6,1913.1,200.0,3668.1,1000.0,900.0,68.9,67.9,No
5,6,5000,M,1,Soltero,37,0,0,0,0,...,1939.4,1961.9,2002.4,250.0,181.5,65.7,100.0,100.0,80.0,No
6,7,50000,M,1,Soltero,29,0,0,0,0,...,54265.3,48300.3,47394.4,5500.0,4000.0,3800.0,2023.9,1375.0,1377.0,No
7,8,10000,F,2,Soltero,23,0,-1,-1,0,...,22.1,-15.9,56.7,38.0,60.1,0.0,58.1,168.7,154.2,No
8,9,14000,F,3,Casado,28,0,0,2,0,...,1221.1,1179.3,371.9,332.9,0.0,43.2,100.0,100.0,100.0,No
9,10,2000,M,3,Soltero,35,-2,-2,-2,-2,...,0.0,1300.7,1391.2,0.0,0.0,0.0,1300.7,112.2,0.0,No
10,11,20000,F,3,Soltero,34,0,0,2,0,...,251.3,182.8,373.1,230.6,1.2,5.0,30.0,373.8,6.6,No
11,12,26000,F,1,Soltero,51,-1,-1,-1,-1,...,851.7,2228.7,1366.8,2181.8,996.6,858.3,2230.1,0.0,364.0,No
12,13,63000,F,2,Soltero,41,-1,0,-1,-1,...,650.0,650.0,287.0,100.0,650.0,650.0,650.0,287.0,0.0,No
13,14,7000,M,2,Soltero,30,1,2,2,0,...,6678.2,3613.7,3689.4,320.0,0.0,300.0,300.0,150.0,0.0,Si
14,15,25000,M,1,Soltero,29,0,0,0,0,...,5969.6,5687.5,5551.2,300.0,300.0,300.0,300.0,300.0,300.0,No
15,16,5000,F,3,Otros,23,1,2,0,0,...,2877.1,2953.1,3021.1,0.0,150.0,110.0,120.0,130.0,110.0,No
16,17,2000,M,1,Soltero,24,0,0,2,2,...,1833.8,1790.5,1910.4,320.0,0.0,150.0,0.0,165.0,0.0,Si
17,18,32000,M,1,Casado,49,0,0,0,-1,...,7007.4,585.6,19559.9,1035.8,1000.0,7594.0,2000.0,19559.9,5000.0,No
18,19,36000,F,1,Casado,49,1,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No
19,20,18000,F,1,Soltero,29,1,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No

In [149]:
#Analisis estadístico
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      30000 non-null  int64
 1   CU      30000 non-null  int64
 2   G       29997 non-null  object
 3   ED      30000 non-null  int64
 4   EC      29999 non-null  object
 5   E       30000 non-null  int64
 6   M1      30000 non-null  int64
 7   M2      30000 non-null  int64
 8   M3      30000 non-null  int64
 9   M4      30000 non-null  int64
 10  M5      30000 non-null  int64
 11  M6      30000 non-null  int64
 12  D1      30000 non-null  float64
 13  D2      30000 non-null  float64
 14  D3      30000 non-null  float64
 15  D4      30000 non-null  float64
 16  D5      30000 non-null  float64
 17  D6      30000 non-null  float64
 18  P1      30000 non-null  float64
 19  P2      30000 non-null  float64
 20  P3      30000 non-null  float64
 21  P4      30000 non-null  float64
 22  P5      30000 non-null  float64
 23  P6      30000 non-null  float64
 24  SP      30000 non-null  object
dtypes: float64(12), int64(10), object(3)
memory usage: 5.7+ MB

In [150]:
# Comprobar los valores
print("Valores discretos de G: ") #Categórico
val_ca = data["G"].unique()
print(val_ca)
print("Valores discretos de EC: ") #Categórico
val_cb = data["EC"].unique()
print(val_cb)
print("Valores discretos de SP: ") #Categórico
val_cc = data["SP"].unique()
print(val_cc)

Valores discretos de G:
['F' 'M' 'O' nan]
Valores discretos de EC:
['Casado' 'Soltero' 'Otros' nan '0']
Valores discretos de SP:
['Si' 'No']

In [151]:
data.describe()

,ID,CU,ED,E,M1,M2,M3,M4,M5,M6,...,D3,D4,D5,D6,P1,P2,P3,P4,P5,P6
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,15000.500000,16748.432267,1.853133,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,-0.266200,-0.291100,...,4701.315480,4326.294897,4031.140097,3887.176040,566.358050,592.11635,522.568150,482.607687,479.938763,521.550257
std,8660.398374,12974.766157,0.790349,9.217904,1.123802,1.197186,1.196868,1.169139,1.133187,1.149988,...,6934.938743,6433.285613,6079.715577,5955.410754,1656.328035,2304.08704,1760.696147,1566.615974,1527.830568,1777.746578
min,1.000000,1000.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-15726.400000,-17000.000000,-8133.400000,-33960.300000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,5000.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,266.625000,232.675000,176.300000,125.600000,100.000000,83.30000,39.000000,29.600000,25.250000,11.775000
50%,15000.500000,14000.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2008.850000,1905.200000,1810.450000,1707.100000,210.000000,200.90000,180.000000,150.000000,150.000000,150.000000
75%,22500.250000,24000.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,6016.475000,5450.600000,5019.050000,4919.825000,500.600000,500.00000,450.500000,401.325000,403.150000,400.000000
max,30000.000000,100000.000000,6.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,166408.900000,89158.600000,92717.100000,96166.400000,87355.200000,168425.90000,89604.000000,62100.000000,42652.900000,52866.600000

#### Datos a corregir:
M1-M6, se detalla q -1 es a tiempo y 1 es retraso de un mes, pero no hay descripción para 0 ni -2, 0 tanto 0 como -2 sera imputado.

D1-D6  Al ser una cuenta de credito si es posible que se encuentre en números negativos.

P1-P6 No se presentan casos a modoficar como pagos negativos.

ID y G serán eliminado

EC se eliminaran los nan y 0

In [152]:
# verificar los valores -2
col_dos = ['M1', 'M2', 'M3', 'M4', 'M5', 'M6']
data_sec = data[col_dos]
data_dos = pd.DataFrame(data_sec == -2)
data_zero = pd.DataFrame(data_sec == 0)

for i in data_dos.columns.values.tolist():
    print(data_dos[i].value_counts())
    print(data_zero[i].value_counts())

M1
False    27241
True      2759
Name: count, dtype: int64
M1
False    15263
True     14737
Name: count, dtype: int64
M2
False    26218
True      3782
Name: count, dtype: int64
M2
True     15730
False    14270
Name: count, dtype: int64
M3
False    25915
True      4085
Name: count, dtype: int64
M3
True     15764
False    14236
Name: count, dtype: int64
M4
False    25652
True      4348
Name: count, dtype: int64
M4
True     16455
False    13545
Name: count, dtype: int64
M5
False    25454
True      4546
Name: count, dtype: int64
M5
True     16947
False    13053
Name: count, dtype: int64
M6
False    25105
True      4895
Name: count, dtype: int64
M6
True     16286
False    13714
Name: count, dtype: int64

In [153]:
# Imputar los datos
#M1
m1 = data["M1"].value_counts().idxmax()
print(f"La variable más frecuente para M1 es: {m1}")
#Imputar variable
data["M1"].replace(0, -1, inplace=True)
data["M1"].replace(-2, m1, inplace=True)
#M2
m2 = data["M2"].value_counts().idxmax()
print(f"La variable más frecuente para M2 es: {m2}")
#Imputar variable
data["M2"].replace(0, -1, inplace=True)
data["M2"].replace(-2, m2, inplace=True)
#M3
m3 = data["M3"].value_counts().idxmax()
print(f"La variable más frecuente para M3 es: {m3}")
#Imputar variable
data["M3"].replace(0, -1, inplace=True)
data["M3"].replace(-2, m3, inplace=True)
#M4
m4 = data["M4"].value_counts().idxmax()
print(f"La variable más frecuente para M4 es: {m4}")
#Imputar variable
data["M4"].replace(0, -1, inplace=True)
data["M4"].replace(-2, m4, inplace=True)
#M5
m5 = data["M5"].value_counts().idxmax()
print(f"La variable más frecuente para M5 es: {m5}")
#Imputar variable
data["M5"].replace(0, -1, inplace=True)
data["M5"].replace(-2, m5, inplace=True)
#M6
m6 = data["M6"].value_counts().idxmax()
print(f"La variable más frecuente para M6 es: {m6}")
#Imputar variable
data["M6"].replace(0, -1, inplace=True)
data["M6"].replace(-2, m6, inplace=True)
#EC
ec = data["EC"].value_counts().idxmax()
print(f"La variable más frecuente para EC es: {ec}")
#Imputar variable
data["EC"].replace('0', ec, inplace=True)
data["EC"].replace(np.nan, ec, inplace=True)

La variable más frecuente para M1 es: 0
La variable más frecuente para M2 es: 0
La variable más frecuente para M3 es: 0
La variable más frecuente para M4 es: 0
La variable más frecuente para M5 es: 0
La variable más frecuente para M6 es: 0
La variable más frecuente para EC es: Soltero

C:\Users\Paúl Cabadiana Jr\AppData\Local\Temp\ipykernel_1368\643789945.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["M1"].replace(0, -1, inplace=True)
C:\Users\Paúl Cabadiana Jr\AppData\Local\Temp\ipykernel_1368\643789945.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["M1"].replace(-2, m1, inplace=True)
C:\Users\Paúl Cabadiana Jr\AppData\Local\Temp\ipykernel_1368\643789945.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["M2"].replace(0, -1, inplace=True)
C:\Users\Paúl Cabadiana Jr\AppData\Local\Temp\ipykernel_1368\643789945.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["M2"].replace(-2, m2, inplace=True)
C:\Users\Paúl Cabadiana Jr\AppData\Local\Temp\ipykernel_1368\643789945.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["M3"].replace(0, -1, inplace=True)
C:\Users\Paúl Cabadiana Jr\AppData\Local\Temp\ipykernel_1368\643789945.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["M3"].replace(-2, m3, inplace=True)
C:\Users\Paúl Cabadiana Jr\AppData\Local\Temp\ipykernel_1368\643789945.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["M4"].replace(0, -1, inplace=True)
C:\Users\Paúl Cabadiana Jr\AppData\Local\Temp\ipykernel_1368\643789945.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["M4"].replace(-2, m4, inplace=True)
C:\Users\Paúl Cabadiana Jr\AppData\Local\Temp\ipykernel_1368\643789945.py:30: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["M5"].replace(0, -1, inplace=True)
C:\Users\Paúl Cabadiana Jr\AppData\Local\Temp\ipykernel_1368\643789945.py:31: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["M5"].replace(-2, m5, inplace=True)
C:\Users\Paúl Cabadiana Jr\AppData\Local\Temp\ipykernel_1368\643789945.py:36: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["M6"].replace(0, -1, inplace=True)
C:\Users\Paúl Cabadiana Jr\AppData\Local\Temp\ipykernel_1368\643789945.py:37: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["M6"].replace(-2, m6, inplace=True)
C:\Users\Paúl Cabadiana Jr\AppData\Local\Temp\ipykernel_1368\643789945.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["EC"].replace('0', ec, inplace=True)
C:\Users\Paúl Cabadiana Jr\AppData\Local\Temp\ipykernel_1368\643789945.py:43: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["EC"].replace(np.nan, ec, inplace=True)

In [154]:
#Se reemplazaran los datos categoricos por númericos
#EC
data["EC"].replace('Casado', 1, inplace=True)
data["EC"].replace('Soltero', 2, inplace=True)
data["EC"].replace('Otros', 3, inplace=True)
#SP
data["SP"].replace('Si', 1, inplace=True)
data["SP"].replace('No', 0, inplace=True)

C:\Users\Paúl Cabadiana Jr\AppData\Local\Temp\ipykernel_1368\2410899387.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["EC"].replace('Casado', 1, inplace=True)
C:\Users\Paúl Cabadiana Jr\AppData\Local\Temp\ipykernel_1368\2410899387.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["EC"].replace('Soltero', 2, inplace=True)
C:\Users\Paúl Cabadiana Jr\AppData\Local\Temp\ipykernel_1368\2410899387.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["EC"].replace('Otros', 3, inplace=True)
C:\Users\Paúl Cabadiana Jr\AppData\Local\Temp\ipykernel_1368\2410899387.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["EC"].replace('Otros', 3, inplace=True)
C:\Users\Paúl Cabadiana Jr\AppData\Local\Temp\ipykernel_1368\2410899387.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["SP"].replace('Si', 1, inplace=True)
C:\Users\Paúl Cabadiana Jr\AppData\Local\Temp\ipykernel_1368\2410899387.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["SP"].replace('No', 0, inplace=True)
C:\Users\Paúl Cabadiana Jr\AppData\Local\Temp\ipykernel_1368\2410899387.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["SP"].replace('No', 0, inplace=True)

In [155]:
data.head(15)

,ID,CU,G,ED,EC,E,M1,M2,M3,M4,...,D4,D5,D6,P1,P2,P3,P4,P5,P6,SP
0,1,2000,F,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,68.9,0.0,0.0,0.0,0.0,1
1,2,12000,F,2,2,26,-1,2,-1,-1,...,327.2,345.5,326.1,0.0,100.0,100.0,100.0,0.0,200.0,1
2,3,9000,F,2,2,34,-1,-1,-1,-1,...,1433.1,1494.8,1554.9,151.8,150.0,100.0,100.0,100.0,500.0,0
3,4,5000,F,2,1,37,-1,-1,-1,-1,...,2831.4,2895.9,2954.7,200.0,201.9,120.0,110.0,106.9,100.0,0
4,5,5000,M,2,1,57,-1,-1,-1,-1,...,2094.0,1914.6,1913.1,200.0,3668.1,1000.0,900.0,68.9,67.9,0
5,6,5000,M,1,2,37,-1,-1,-1,-1,...,1939.4,1961.9,2002.4,250.0,181.5,65.7,100.0,100.0,80.0,0
6,7,50000,M,1,2,29,-1,-1,-1,-1,...,54265.3,48300.3,47394.4,5500.0,4000.0,3800.0,2023.9,1375.0,1377.0,0
7,8,10000,F,2,2,23,-1,-1,-1,-1,...,22.1,-15.9,56.7,38.0,60.1,0.0,58.1,168.7,154.2,0
8,9,14000,F,3,1,28,-1,-1,2,-1,...,1221.1,1179.3,371.9,332.9,0.0,43.2,100.0,100.0,100.0,0
9,10,2000,M,3,2,35,0,0,0,0,...,0.0,1300.7,1391.2,0.0,0.0,0.0,1300.7,112.2,0.0,0
10,11,20000,F,3,2,34,-1,-1,2,-1,...,251.3,182.8,373.1,230.6,1.2,5.0,30.0,373.8,6.6,0
11,12,26000,F,1,2,51,-1,-1,-1,-1,...,851.7,2228.7,1366.8,2181.8,996.6,858.3,2230.1,0.0,364.0,0
12,13,63000,F,2,2,41,-1,-1,-1,-1,...,650.0,650.0,287.0,100.0,650.0,650.0,650.0,287.0,0.0,0
13,14,7000,M,2,2,30,1,2,2,-1,...,6678.2,3613.7,3689.4,320.0,0.0,300.0,300.0,150.0,0.0,1
14,15,25000,M,1,2,29,-1,-1,-1,-1,...,5969.6,5687.5,5551.2,300.0,300.0,300.0,300.0,300.0,300.0,0

### Generación de modelo

In [158]:
#Matriz de entrada
x = data.drop(['G','SP'], axis=1)
#Target - Vector de salida
y = data['SP']

#Generar el conjunto de entremamiento y validación
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size=0.3, random_state=20)

#Creal modelo
modelo_rf = RandomForestClassifier()
#Entrenar el modelo
modelo_rf.fit(x_train, y_train)
#Validar modelo
y_pred = modelo_rf.predict(x_test)

#Metricas

# Matriz de confusión
con_mat = confusion_matrix(y_test, y_pred)
print(f"Matriz de confusión:\n {con_mat}")

#Exactitud
exactitud=accuracy_score(y_test, y_pred)
print(f"Exactitud: {exactitud:.2f}")

#Precisión
precision = precision_score(y_test, y_pred, average="binary", pos_label=0)
print(f"precision: {precision:.2f}")

#Sensibilidad
recall = recall_score(y_test, y_pred, average="binary", pos_label=0)
print(f"recall: {recall:.2f}")

#Especificidad
vn, fp, fn, vp = con_mat.ravel()
especificidad = vn / (vn + fp)
print(f"especificidad: {especificidad:.2f}")

#f1-score
f1 = f1_score(y_test, y_pred, average="binary", pos_label=0)
print(f"f1: {f1:.2f}")

Matriz de confusión:
 [[6593  410]
 [1240  757]]
Exactitud: 0.82
precision: 0.84
recall: 0.94
especificidad: 0.94
f1: 0.89

### Modelo XGBoost

In [159]:
xgb = XGBClassifier(use_label_encoder=False)
#Entrenamiento
xgb.fit(x_train, y_train)
#predicción
y_predboost = xgb.predict(x_test)
#Validación
print(classification_report(y_test, y_predboost))
print("Matriz de confusión")
print(confusion_matrix(y_test, y_predboost))

              precision    recall  f1-score   support

           0       0.84      0.93      0.88      7003
           1       0.62      0.38      0.47      1997

    accuracy                           0.81      9000
   macro avg       0.73      0.65      0.68      9000
weighted avg       0.79      0.81      0.79      9000

Matriz de confusión
[[6540  463]
 [1248  749]]

In [160]:
#Exactitud
exactitudXG=accuracy_score(y_test, y_predboost)
#Precisión
precisionXG = precision_score(y_test, y_predboost)
#Sensibilidad
recallXG = recall_score(y_test, y_predboost)

#Especificidad
vn, fp, fn, vp = con_mat.ravel()
especificidadXG = vn / (vn + fp)
#f1-score
f1XG = f1_score(y_test, y_predboost)

print(f"Exactitud: {exactitudXG:.2f}\nPrecisión: {precisionXG:.2f}\nSensibilidad: {recallXG:.2f}\nEspecificidad: {especificidadXG:.2f}\nf1-Score: {f1XG:.2f}")

Exactitud: 0.81
Precisión: 0.62
Sensibilidad: 0.38
Especificidad: 0.94
f1-Score: 0.47

### Conclusión
El modelo RandomForestClassifier demuestra ser el más efectivo

In [163]:
# guardar modelo en el disco
filename = 'Proyecto2_Pol_Dav.sav'
pickle.dump(modelo_rf, open(filename, 'wb'))
# Cargar modelo del disco
loaded_model = pickle.load(open(filename, 'rb'))
print(f"Exactitud: {exactitud:.2f}\nPrecisión: {precision:.2f}\nSensibilidad: {recall:.2f}\nEspecificidad: {especificidad:.2f}\nf1-Score: {f1:.2f}")

Exactitud: 0.82
Precisión: 0.84
Sensibilidad: 0.94
Especificidad: 0.94
f1-Score: 0.89